@import "tailwindcss";


* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif; /* Använd Roboto som standard */
}

.sidebar, .sidebar-icons, .footer {
  font-family: 'Roboto', sans-serif; /* Se till att använda Roboto här också */
}

/* Resten av din CSS */
.company-name {
  color: white;
  text-align: center;
  margin: 20px 0;
  font-size: 24px;
}

.toggle-button, .close-button {
  font-family: 'Roboto', sans-serif; /* Använd Roboto för knappar */
}